USE [master]
GO
/****** Object:  Database [HotelGostsDb]    Script Date: 10.04.2026 18:14:46 ******/
CREATE DATABASE [HotelGostsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelGostsDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelGostsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelGostsDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelGostsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelGostsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelGostsDb]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[GhostID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[TotalPrice] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingServices]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[BookingServiceID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtTime] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evictions]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evictions](
	[EvictionID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[EvictionDate] [date] NOT NULL,
	[Reason] [nvarchar](255) NOT NULL,
	[ExecutorUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EvictionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghosts]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghosts](
	[GhostID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[YearOfPassing] [int] NOT NULL,
	[TransparencyLevel] [int] NOT NULL,
	[RegistrationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GhostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Action] [nvarchar](255) NOT NULL,
	[TableName] [nvarchar](100) NULL,
	[RecordID] [int] NULL,
	[ActionDate] [date] NOT NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NOT NULL,
	[TypeID] [int] NOT NULL,
	[PricePerNight] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Price] [int] NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.04.2026 18:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[GhostID] [int] NULL,
	[CreatedAt] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [GhostID], [RoomID], [CheckInDate], [CheckOutDate], [TotalPrice], [Status], [CreatedAt]) VALUES (1, 1, 1, CAST(N'2024-03-01' AS Date), CAST(N'2024-03-03' AS Date), 300, N'Completed', CAST(N'2024-02-20' AS Date))
INSERT [dbo].[Bookings] ([BookingID], [GhostID], [RoomID], [CheckInDate], [CheckOutDate], [TotalPrice], [Status], [CreatedAt]) VALUES (2, 2, 3, CAST(N'2024-03-05' AS Date), CAST(N'2024-03-07' AS Date), 400, N'Completed', CAST(N'2024-02-25' AS Date))
INSERT [dbo].[Bookings] ([BookingID], [GhostID], [RoomID], [CheckInDate], [CheckOutDate], [TotalPrice], [Status], [CreatedAt]) VALUES (3, 3, 7, CAST(N'2024-03-10' AS Date), CAST(N'2024-03-15' AS Date), 1500, N'Completed', CAST(N'2024-03-01' AS Date))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingServices] ON 

INSERT [dbo].[BookingServices] ([BookingServiceID], [BookingID], [ServiceID], [Quantity], [PriceAtTime]) VALUES (1, 1, 1, 2, 50)
INSERT [dbo].[BookingServices] ([BookingServiceID], [BookingID], [ServiceID], [Quantity], [PriceAtTime]) VALUES (2, 1, 3, 1, 30)
INSERT [dbo].[BookingServices] ([BookingServiceID], [BookingID], [ServiceID], [Quantity], [PriceAtTime]) VALUES (3, 2, 2, 1, 80)
SET IDENTITY_INSERT [dbo].[BookingServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Evictions] ON 

INSERT [dbo].[Evictions] ([EvictionID], [BookingID], [EvictionDate], [Reason], [ExecutorUserID]) VALUES (1, 6, CAST(N'2024-03-24' AS Date), N'Слишком шумно: разбил несколько саркофагов', 2)
INSERT [dbo].[Evictions] ([EvictionID], [BookingID], [EvictionDate], [Reason], [ExecutorUserID]) VALUES (2, 21, CAST(N'2024-05-17' AS Date), N'Нарушение тишины: полтергейст после полуночи', 2)
SET IDENTITY_INSERT [dbo].[Evictions] OFF
GO
SET IDENTITY_INSERT [dbo].[Ghosts] ON 

INSERT [dbo].[Ghosts] ([GhostID], [Name], [YearOfPassing], [TransparencyLevel], [RegistrationDate]) VALUES (1, N'Каспер Дружелюбный', 1978, 85, CAST(N'2023-01-10' AS Date))
INSERT [dbo].[Ghosts] ([GhostID], [Name], [YearOfPassing], [TransparencyLevel], [RegistrationDate]) VALUES (2, N'Леди Элеонора Блэквуд', 1895, 45, CAST(N'2023-02-14' AS Date))
INSERT [dbo].[Ghosts] ([GhostID], [Name], [YearOfPassing], [TransparencyLevel], [RegistrationDate]) VALUES (3, N'Профессор Чарльз Мертвингтон', 1923, 30, CAST(N'2023-03-20' AS Date))
SET IDENTITY_INSERT [dbo].[Ghosts] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([LogID], [UserID], [Action], [TableName], [RecordID], [ActionDate], [Details]) VALUES (1, 1, N'INSERT', N'Rooms', 10, CAST(N'2024-01-10' AS Date), N'Добавлен номер Attic-04')
INSERT [dbo].[Logs] ([LogID], [UserID], [Action], [TableName], [RecordID], [ActionDate], [Details]) VALUES (2, 2, N'UPDATE', N'Bookings', 6, CAST(N'2024-03-24' AS Date), N'Изменён статус на Evicted')
INSERT [dbo].[Logs] ([LogID], [UserID], [Action], [TableName], [RecordID], [ActionDate], [Details]) VALUES (3, 1, N'DELETE', N'Users', 8, CAST(N'2024-02-01' AS Date), N'Удалён неактивный пользователь')
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Клиент')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Экзорцист-администратор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [TypeID], [PricePerNight], [Status]) VALUES (1, N'Crypt-01', 1, 150, N'Available')
INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [TypeID], [PricePerNight], [Status]) VALUES (2, N'Crypt-02', 1, 180, N'Available')
INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [TypeID], [PricePerNight], [Status]) VALUES (3, N'Crypt-03', 1, 200, N'Occupied')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([TypeID], [TypeName], [Description]) VALUES (1, N'Склеп', N'Каменное подземелье с плесенью и звуками капели')
INSERT [dbo].[RoomTypes] ([TypeID], [TypeName], [Description]) VALUES (2, N'Чердак', N'Просторный чердак со сквозняками и летучими мышами')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Price], [Unit]) VALUES (1, N'Пугание гостей (1 час)', 50, N'час')
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Price], [Unit]) VALUES (2, N'Полеты сквозь стены (сеанс)', 80, N'сеанс')
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Price], [Unit]) VALUES (3, N'Камера хранения цепей (сутки)', 30, N'сутки')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [RoleID], [GhostID], [CreatedAt]) VALUES (1, N'admin', N'admin_hash', 1, NULL, CAST(N'2024-01-01' AS Date))
INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [RoleID], [GhostID], [CreatedAt]) VALUES (2, N'exorcist', N'exo_hash', 3, NULL, CAST(N'2024-01-01' AS Date))
INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [RoleID], [GhostID], [CreatedAt]) VALUES (3, N'casper', N'casper_hash', 2, 1, CAST(N'2024-01-02' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160293840D6]    Script Date: 10.04.2026 18:14:46 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__AE10E07A8B517B3B]    Script Date: 10.04.2026 18:14:46 ******/
ALTER TABLE [dbo].[Rooms] ADD UNIQUE NONCLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RoomType__D4E7DFA8AEBB83BB]    Script Date: 10.04.2026 18:14:46 ******/
ALTER TABLE [dbo].[RoomTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Services__A42B5F994C12AD71]    Script Date: 10.04.2026 18:14:46 ******/
ALTER TABLE [dbo].[Services] ADD UNIQUE NONCLUSTERED 
(
	[ServiceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B42CDF102]    Script Date: 10.04.2026 18:14:46 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Evictions] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EvictionDate]
GO
ALTER TABLE [dbo].[Ghosts] ADD  DEFAULT (CONVERT([date],getdate())) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ActionDate]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([date],getdate())) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Ghosts] FOREIGN KEY([GhostID])
REFERENCES [dbo].[Ghosts] ([GhostID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Ghosts]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_Bookings]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_Services]
GO
ALTER TABLE [dbo].[Evictions]  WITH CHECK ADD  CONSTRAINT [FK_Evictions_Bookings] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Evictions] CHECK CONSTRAINT [FK_Evictions_Bookings]
GO
ALTER TABLE [dbo].[Evictions]  WITH CHECK ADD  CONSTRAINT [FK_Evictions_Users] FOREIGN KEY([ExecutorUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Evictions] CHECK CONSTRAINT [FK_Evictions_Users]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Users]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_RoomTypes] FOREIGN KEY([TypeID])
REFERENCES [dbo].[RoomTypes] ([TypeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_RoomTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Ghosts] FOREIGN KEY([GhostID])
REFERENCES [dbo].[Ghosts] ([GhostID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Ghosts]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CHK_Dates] CHECK  (([CheckInDate]<=[CheckOutDate]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CHK_Dates]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([Status]='Evicted' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([TotalPrice]>=(0)))
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD CHECK  (([PriceAtTime]>=(0)))
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Ghosts]  WITH CHECK ADD CHECK  (([TransparencyLevel]>=(0) AND [TransparencyLevel]<=(100)))
GO
ALTER TABLE [dbo].[Ghosts]  WITH CHECK ADD CHECK  (([YearOfPassing]>=(500) AND [YearOfPassing]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD CHECK  (([PricePerNight]>(0)))
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD CHECK  (([Status]='Repair' OR [Status]='Occupied' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
USE [master]
GO
